In [ ]:
#This notebook is dedicated to clean and join all the data obtained from extraction and combination of various Kaggle datasets

In [387]:
import pandas as pd

df1 = pd.read_csv('movies_with_release_dates1.csv')

In [388]:
import pandas as pd

df = pd.read_csv('mymoviedb.csv')

In [ ]:
#This is a dataset directly obtained from Kaggle

In [389]:
df

,Release_Date,Title,Overview,Popularity,Vote_Count,Vote_Average,Original_Language,Genre,Poster_Url
0,12/15/2021,Spider-Man: No Way Home,Peter Parker is unmasked and no longer able to...,5083.954,8940,8.3,en,"Action, Adventure, Science Fiction",https://image.tmdb.org/t/p/original/1g0dhYtq4i...
1,3/1/2022,The Batman,"In his second year of fighting crime, Batman u...",3827.658,1151,8.1,en,"Crime, Mystery, Thriller",https://image.tmdb.org/t/p/original/74xTEgt7R3...
2,2/25/2022,No Exit,Stranded at a rest stop in the mountains durin...,2618.087,122,6.3,en,Thriller,https://image.tmdb.org/t/p/original/vDHsLnOWKl...
3,11/24/2021,Encanto,"The tale of an extraordinary family, the Madri...",2402.201,5076,7.7,en,"Animation, Comedy, Family, Fantasy",https://image.tmdb.org/t/p/original/4j0PNHkMr5...
4,12/22/2021,The King's Man,As a collection of history's worst tyrants and...,1895.511,1793,7,en,"Action, Adventure, Thriller, War",https://image.tmdb.org/t/p/original/aq4Pwv5Xeu...
...,...,...,...,...,...,...,...,...,...
9832,10/15/1973,Badlands,A dramatization of the Starkweather-Fugate kil...,13.357,896,7.6,en,"Drama, Crime",https://image.tmdb.org/t/p/original/z81rBzHNgi...
9833,10/1/2020,Violent Delights,A female vampire falls in love with a man she ...,13.356,8,3.5,es,Horror,https://image.tmdb.org/t/p/original/4b6HY7rud6...
9834,5/6/2016,The Offering,When young and successful reporter Jamie finds...,13.355,94,5,en,"Mystery, Thriller, Horror",https://image.tmdb.org/t/p/original/h4uMM1wOhz...
9835,3/31/2021,The United States vs. Billie Holiday,Billie Holiday spent much of her career being ...,13.354,152,6.7,en,"Music, Drama, History",https://image.tmdb.org/t/p/original/vEzkxuE2sJ...
9836,9/23/1984,Threads,Documentary style account of a nuclear holocau...,13.354,186,7.8,en,"War, Drama, Science Fiction",https://image.tmdb.org/t/p/original/lBhU4U9Eeh...

In [ ]:
#These are all separate datasets that are obtained from OMDB with 1000 rows each. Let us combine them

In [390]:
import pandas as pd

# Read the CSV files into DataFrames
df1 = pd.read_csv('movies_with_release_dates_and_plots1.csv')
df2 = pd.read_csv('movies_with_release_dates_and_plots2.csv')
df3 = pd.read_csv('movies_with_release_dates_and_plots3.csv')
df4 = pd.read_csv('movies_with_release_dates_and_plots4.csv')
df5 = pd.read_csv('movies_with_release_dates_and_plots5.csv')
df6 = pd.read_csv('movies_with_release_dates_and_plots6.csv')

# Combine the DataFrames
combined_df = pd.concat([df1, df2, df3, df4, df5, df6], ignore_index=True)

# Save the combined DataFrame to a new CSV file
combined_df.to_csv('combined.csv', index=False)

In [391]:
df = pd.read_csv('combined.csv')
df

,Movie_Title,Year,Director,Actors,Rating,Runtime(Mins),Censor,Total_Gross,main_genre,side_genre,Release_Date,Plot_Summary
0,Kantara,2022,Rishab Shetty,"Rishab Shetty, Sapthami Gowda, Kishore Kumar G...",9.3,148,UA,Gross Unkown,Action,"Adventure, Drama",30-Sep-22,"When greed paves the way for betrayal, schemin..."
1,The Dark Knight,2008,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart, M...",9.0,152,UA,$534.86M,Action,"Crime, Drama",18-Jul-08,When the menace known as the Joker wreaks havo...
2,The Lord of the Rings: The Return of the King,2003,Peter Jackson,"Elijah Wood, Viggo Mortensen, Ian McKellen, Or...",9.0,201,U,$377.85M,Action,"Adventure, Drama",17-Dec-03,Gandalf and Aragorn lead the World of Men agai...
3,Inception,2010,Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...",8.8,148,UA,$292.58M,Action,"Adventure, Sci-Fi",16-Jul-10,A thief who steals corporate secrets through t...
4,The Lord of the Rings: The Two Towers,2002,Peter Jackson,"Elijah Wood, Ian McKellen, Viggo Mortensen, Or...",8.8,179,UA,$342.55M,Action,"Adventure, Drama",18-Dec-02,While Frodo and Sam edge closer to Mordor with...
...,...,...,...,...,...,...,...,...,...,...,...,...
5552,Disaster Movie,2008,"Directors:Jason Friedberg, Aaron Seltzer","Carmen Electra, Vanessa Lachey, Nicole Parker,...",1.9,87,PG-13,$14.19M,Comedy,Sci-Fi,29-Aug-08,"Over the course of one evening, an unsuspectin..."
5553,The Hottie & the Nottie,2008,Tom Putnam,"Paris Hilton, Joel David Moore, Christine Laki...",1.9,91,PG-13,$0.03M,Comedy,Romance,21-Feb-08,A woman agrees to go on a date with a man only...
5554,From Justin to Kelly,2003,Robert Iscove,"Kelly Clarkson, Justin Guarini, Katherine Bail...",1.9,81,PG,$4.92M,Comedy,"Musical, Romance",20-Jun-03,A waitress from Texas and a college student fr...
5555,Superbabies: Baby Geniuses 2,2004,Bob Clark,"Jon Voight, Scott Baio, Vanessa Angel, Skyler ...",1.5,88,PG,$9.11M,Comedy,"Family, Sci-Fi",27-Aug-04,A group of smart-talking toddlers find themsel...
5556,Cumali Ceber: Allah Seni Alsin,2017,GÃ¶khan GÃ¶k,"Halil SÃ¶yletmez, Doga Konakoglu, Emre Keskin, ...",1.0,100,Not Rated,Gross Unkown,Comedy,Comedy,4-Aug-17,Cumali Ceber goes to a vacation with his child...

In [418]:
#From here on we repeat the process with various datasets obtained from OMDB extraction and  do some basic cleaning like 
# removing rows with missing values, rename the columns, reset the index, reshape, append to other datasets, etc.

In [392]:
# Check for missing values and sum them along the rows
missing_rows = combined_df.isna().sum(axis=1)

# Count the total number of rows with missing values
total_missing_rows = missing_rows.sum()

print(f'Total rows with missing values: {total_missing_rows}')

Total rows with missing values: 775

In [393]:
combined_df.dropna()

,Movie_Title,Year,Director,Actors,Rating,Runtime(Mins),Censor,Total_Gross,main_genre,side_genre,Release_Date,Plot_Summary
0,Kantara,2022,Rishab Shetty,"Rishab Shetty, Sapthami Gowda, Kishore Kumar G...",9.3,148,UA,Gross Unkown,Action,"Adventure, Drama",30-Sep-22,"When greed paves the way for betrayal, schemin..."
1,The Dark Knight,2008,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart, M...",9.0,152,UA,$534.86M,Action,"Crime, Drama",18-Jul-08,When the menace known as the Joker wreaks havo...
2,The Lord of the Rings: The Return of the King,2003,Peter Jackson,"Elijah Wood, Viggo Mortensen, Ian McKellen, Or...",9.0,201,U,$377.85M,Action,"Adventure, Drama",17-Dec-03,Gandalf and Aragorn lead the World of Men agai...
3,Inception,2010,Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...",8.8,148,UA,$292.58M,Action,"Adventure, Sci-Fi",16-Jul-10,A thief who steals corporate secrets through t...
4,The Lord of the Rings: The Two Towers,2002,Peter Jackson,"Elijah Wood, Ian McKellen, Viggo Mortensen, Or...",8.8,179,UA,$342.55M,Action,"Adventure, Drama",18-Dec-02,While Frodo and Sam edge closer to Mordor with...
...,...,...,...,...,...,...,...,...,...,...,...,...
5552,Disaster Movie,2008,"Directors:Jason Friedberg, Aaron Seltzer","Carmen Electra, Vanessa Lachey, Nicole Parker,...",1.9,87,PG-13,$14.19M,Comedy,Sci-Fi,29-Aug-08,"Over the course of one evening, an unsuspectin..."
5553,The Hottie & the Nottie,2008,Tom Putnam,"Paris Hilton, Joel David Moore, Christine Laki...",1.9,91,PG-13,$0.03M,Comedy,Romance,21-Feb-08,A woman agrees to go on a date with a man only...
5554,From Justin to Kelly,2003,Robert Iscove,"Kelly Clarkson, Justin Guarini, Katherine Bail...",1.9,81,PG,$4.92M,Comedy,"Musical, Romance",20-Jun-03,A waitress from Texas and a college student fr...
5555,Superbabies: Baby Geniuses 2,2004,Bob Clark,"Jon Voight, Scott Baio, Vanessa Angel, Skyler ...",1.5,88,PG,$9.11M,Comedy,"Family, Sci-Fi",27-Aug-04,A group of smart-talking toddlers find themsel...
5556,Cumali Ceber: Allah Seni Alsin,2017,GÃ¶khan GÃ¶k,"Halil SÃ¶yletmez, Doga Konakoglu, Emre Keskin, ...",1.0,100,Not Rated,Gross Unkown,Comedy,Comedy,4-Aug-17,Cumali Ceber goes to a vacation with his child...

In [394]:
earliest_year = combined_df['Year'].min()

# Find the latest (maximum) year
latest_year = combined_df['Year'].max()

print(f"Earliest year: {earliest_year}")
print(f"Latest year: {latest_year}")

combined_df.to_csv('new_comb.csv', index=False)

Earliest year: 1920
Latest year: 2022

In [395]:
dff1= pd.read_csv('dff1_with_release_dates_and_plots.csv')
dff2= pd.read_csv('dff2_with_release_dates_and_plots.csv')
dff3= pd.read_csv('dff3_with_release_dates_and_plots.csv')
dff4= pd.read_csv('dff4_with_release_dates_and_plots.csv')
dff5= pd.read_csv('dff5_with_release_dates_and_plots.csv')
dff6= pd.read_csv('dff6_with_release_dates_and_plots.csv')
dff7= pd.read_csv('dff7_with_release_dates_and_plots.csv')
dff8= pd.read_csv('dff8_with_release_dates_and_plots.csv')
dff9= pd.read_csv('dff9_with_release_dates_and_plots.csv')
dff10= pd.read_csv('dff10_with_release_dates_and_plots.csv')

combined_df1 = pd.concat([dff1, dff2, dff3, dff4, dff5, dff6, dff7, dff8, dff9, dff10], ignore_index=True)

combined_df1

In [396]:
combined_df1

,Release_Date,Title,Overview,Popularity,Vote_Count,Vote_Average,Original_Language,Genre,Poster_Url,Plot_Summary
0,17 Dec 2021,Spider-Man: No Way Home,Peter Parker is unmasked and no longer able to...,5083.954,8940,8.3,en,"Action, Adventure, Science Fiction",https://image.tmdb.org/t/p/original/1g0dhYtq4i...,"With Spider-Man's identity now revealed, Peter..."
1,04 Mar 2022,The Batman,"In his second year of fighting crime, Batman u...",3827.658,1151,8.1,en,"Crime, Mystery, Thriller",https://image.tmdb.org/t/p/original/74xTEgt7R3...,When a sadistic serial killer begins murdering...
2,25 Feb 2022,No Exit,Stranded at a rest stop in the mountains durin...,2618.087,122,6.3,en,Thriller,https://image.tmdb.org/t/p/original/vDHsLnOWKl...,During a blizzard and stranded at an isolated ...
3,24 Nov 2021,Encanto,"The tale of an extraordinary family, the Madri...",2402.201,5076,7.7,en,"Animation, Comedy, Family, Fantasy",https://image.tmdb.org/t/p/original/4j0PNHkMr5...,A Colombian teenage girl has to face the frust...
4,22 Dec 2021,The King's Man,As a collection of history's worst tyrants and...,1895.511,1793,7.0,en,"Action, Adventure, Thriller, War",https://image.tmdb.org/t/p/original/aq4Pwv5Xeu...,"In the early years of the 20th century, the Ki..."
...,...,...,...,...,...,...,...,...,...,...
9660,05 Jan 1974,Badlands,A dramatization of the Starkweather-Fugate kil...,13.357,896,7.6,en,"Drama, Crime",https://image.tmdb.org/t/p/original/z81rBzHNgi...,An impressionable teenage girl from a dead-end...
9661,NaN,Violent Delights,A female vampire falls in love with a man she ...,13.356,8,3.5,es,Horror,https://image.tmdb.org/t/p/original/4b6HY7rud6...,The already rocky relationship of expecting lo...
9662,13 Jan 2023,The Offering,When young and successful reporter Jamie finds...,13.355,94,5.0,en,"Mystery, Thriller, Horror",https://image.tmdb.org/t/p/original/h4uMM1wOhz...,A family struggling with loss find themselves ...
9663,26 Feb 2021,The United States vs. Billie Holiday,Billie Holiday spent much of her career being ...,13.354,152,6.7,en,"Music, Drama, History",https://image.tmdb.org/t/p/original/vEzkxuE2sJ...,Follows Holiday during her career as she is ta...
9664,23 Sep 1984,Threads,Documentary style account of a nuclear holocau...,13.354,186,7.8,en,"War, Drama, Science Fiction",https://image.tmdb.org/t/p/original/lBhU4U9Eeh...,The effects of a nuclear holocaust on the work...

In [397]:
# Check for missing values and sum them along the rows
missing_rows = combined_df1.isna().sum(axis=1)

# Count the total number of rows with missing values
total_missing_rows = missing_rows.sum()

print(f'Total rows with missing values: {total_missing_rows}')

Total rows with missing values: 1335

In [398]:
combined_df1.dropna()
combined_df1 = combined_df1[combined_df1['Original_Language'] == 'en']
combined_df1 = combined_df1.drop(columns=['Poster_Url'])
combined_df1 = combined_df1.drop(columns=['Original_Language'])

In [399]:
combined_df1 = combined_df1.drop(columns=['Popularity', 'Vote_Count', 'Overview'])

In [400]:
combined_df1

,Release_Date,Title,Vote_Average,Genre,Plot_Summary
0,17 Dec 2021,Spider-Man: No Way Home,8.3,"Action, Adventure, Science Fiction","With Spider-Man's identity now revealed, Peter..."
1,04 Mar 2022,The Batman,8.1,"Crime, Mystery, Thriller",When a sadistic serial killer begins murdering...
2,25 Feb 2022,No Exit,6.3,Thriller,During a blizzard and stranded at an isolated ...
3,24 Nov 2021,Encanto,7.7,"Animation, Comedy, Family, Fantasy",A Colombian teenage girl has to face the frust...
4,22 Dec 2021,The King's Man,7.0,"Action, Adventure, Thriller, War","In the early years of the 20th century, the Ki..."
...,...,...,...,...,...
9659,05 Aug 2016,The Little Prince,6.6,"Science Fiction, Fantasy, Family, Music",A little girl lives in a very grown-up world w...
9660,05 Jan 1974,Badlands,7.6,"Drama, Crime",An impressionable teenage girl from a dead-end...
9662,13 Jan 2023,The Offering,5.0,"Mystery, Thriller, Horror",A family struggling with loss find themselves ...
9663,26 Feb 2021,The United States vs. Billie Holiday,6.7,"Music, Drama, History",Follows Holiday during her career as she is ta...
9664,23 Sep 1984,Threads,7.8,"War, Drama, Science Fiction",The effects of a nuclear holocaust on the work...

In [401]:
from IPython.display import FileLink

# Save the DataFrame as a CSV file
csv_filename = 'combined_df1.csv'
combined_df1.to_csv(csv_filename, index=False)  # Set index=False to exclude the index column

# Display a download link for the CSV file
FileLink(csv_filename)

C:\Users\asuri\OneDrive\Desktop\spotify_api\combined_df1.csv

In [402]:
d1= pd.read_csv('ddf1_with_movie_details.csv')
d2= pd.read_csv('ddf2_with_movie_details.csv')
d3= pd.read_csv('ddf3_with_movie_details.csv')
d4= pd.read_csv('ddf4_with_movie_details.csv')
d5= pd.read_csv('ddf5_with_movie_details.csv')
d6= pd.read_csv('ddf6_with_movie_details.csv')
d7= pd.read_csv('ddf7_with_movie_details.csv')

combined_df2 = pd.concat([d1, d2, d3, d4, d5, d6, d7], ignore_index=True)

In [403]:
combined_df2.rename(columns={'Vote_Average': 'Rating'}, inplace=True)
combined_df2
combined_df2.to_csv('combined2.csv', index=False)

In [404]:
#combined_df.rename(columns={'Movie_Title': 'Title'}, inplace=True)
combined_df = combined_df.drop(columns=['Censor','Total_Gross', 'side_genre'])
combined_df.rename(columns={'main_genre': 'Genre'}, inplace=True) 
combined_df.rename(columns={'Movie_Title': 'Title'}, inplace=True)
combined_df.rename(columns={'Runtime(Mins)': 'Runtime'}, inplace=True)

combined_df

,Title,Year,Director,Actors,Rating,Runtime,Genre,Release_Date,Plot_Summary
0,Kantara,2022,Rishab Shetty,"Rishab Shetty, Sapthami Gowda, Kishore Kumar G...",9.3,148,Action,30-Sep-22,"When greed paves the way for betrayal, schemin..."
1,The Dark Knight,2008,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart, M...",9.0,152,Action,18-Jul-08,When the menace known as the Joker wreaks havo...
2,The Lord of the Rings: The Return of the King,2003,Peter Jackson,"Elijah Wood, Viggo Mortensen, Ian McKellen, Or...",9.0,201,Action,17-Dec-03,Gandalf and Aragorn lead the World of Men agai...
3,Inception,2010,Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...",8.8,148,Action,16-Jul-10,A thief who steals corporate secrets through t...
4,The Lord of the Rings: The Two Towers,2002,Peter Jackson,"Elijah Wood, Ian McKellen, Viggo Mortensen, Or...",8.8,179,Action,18-Dec-02,While Frodo and Sam edge closer to Mordor with...
...,...,...,...,...,...,...,...,...,...
5552,Disaster Movie,2008,"Directors:Jason Friedberg, Aaron Seltzer","Carmen Electra, Vanessa Lachey, Nicole Parker,...",1.9,87,Comedy,29-Aug-08,"Over the course of one evening, an unsuspectin..."
5553,The Hottie & the Nottie,2008,Tom Putnam,"Paris Hilton, Joel David Moore, Christine Laki...",1.9,91,Comedy,21-Feb-08,A woman agrees to go on a date with a man only...
5554,From Justin to Kelly,2003,Robert Iscove,"Kelly Clarkson, Justin Guarini, Katherine Bail...",1.9,81,Comedy,20-Jun-03,A waitress from Texas and a college student fr...
5555,Superbabies: Baby Geniuses 2,2004,Bob Clark,"Jon Voight, Scott Baio, Vanessa Angel, Skyler ...",1.5,88,Comedy,27-Aug-04,A group of smart-talking toddlers find themsel...
5556,Cumali Ceber: Allah Seni Alsin,2017,GÃ¶khan GÃ¶k,"Halil SÃ¶yletmez, Doga Konakoglu, Emre Keskin, ...",1.0,100,Comedy,4-Aug-17,Cumali Ceber goes to a vacation with his child...

In [405]:
import pandas as pd

# Assuming 'combined_df' and 'combined_df2' are your DataFrames
# Replace them with your actual DataFrames

# Combine the two DataFrames while dropping rows with duplicate 'Title' values
combined_df = pd.concat([combined_df, combined_df2], ignore_index=True)
combined_df.drop_duplicates(subset='Title', inplace=True)

In [406]:
combined_df

,Title,Year,Director,Actors,Rating,Runtime,Genre,Release_Date,Plot_Summary
0,Kantara,2022,Rishab Shetty,"Rishab Shetty, Sapthami Gowda, Kishore Kumar G...",9.3,148,Action,30-Sep-22,"When greed paves the way for betrayal, schemin..."
1,The Dark Knight,2008,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart, M...",9.0,152,Action,18-Jul-08,When the menace known as the Joker wreaks havo...
2,The Lord of the Rings: The Return of the King,2003,Peter Jackson,"Elijah Wood, Viggo Mortensen, Ian McKellen, Or...",9.0,201,Action,17-Dec-03,Gandalf and Aragorn lead the World of Men agai...
3,Inception,2010,Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...",8.8,148,Action,16-Jul-10,A thief who steals corporate secrets through t...
4,The Lord of the Rings: The Two Towers,2002,Peter Jackson,"Elijah Wood, Ian McKellen, Viggo Mortensen, Or...",8.8,179,Action,18-Dec-02,While Frodo and Sam edge closer to Mordor with...
...,...,...,...,...,...,...,...,...,...
10543,Minions: Puppy,NaN,NaN,NaN,7.3,NaN,"Animation, Family, Comedy, Science Fiction",NaN,NaN
10545,Havoc,2005,Barbara Kopple,"Anne Hathaway, Bijou Phillips, Shiri Appleby",5.2,85 min,"Crime, Drama",16 Oct 2005,Two affluent suburban girls clash with the Lat...
10549,Batman: Return of the Caped Crusaders,2016,Rick Morales,"Adam West, Burt Ward, Julie Newmar",6.5,78 min,"Action, Animation, Adventure, Crime, Science F...",11 Oct 2016,Batman and Robin of the 1960s live action seri...
10551,One Crazy Summer: A Look Back at Gravity Falls,2018,Brian Ward,"Matt Braly, Brad Breeck, Jackie Buscarino, Rob...",2.0,105 min,Documentary,24 Jul 2018,The ultimate Gravity Falls behind the scenes d...
10552,Gunfight at the O.K. Corral,1957,John Sturges,"Burt Lancaster, Kirk Douglas, Rhonda Fleming",7.0,122 min,Western,30 May 1957,Lawman Wyatt Earp and outlaw Doc Holliday form...

In [407]:
import pandas as pd

# Assuming 'df' is your DataFrame
# Replace 'df' with your actual DataFrame

# Check for NaN values in each row and sum them
num_rows_with_na = combined_df.isna().sum(axis=1).sum()
num_rows_with_na

1698

In [408]:
import pandas as pd

# Assuming 'df' is your DataFrame
# Replace 'df' with your actual DataFrame

# Drop rows with NaN values
combined_df.dropna(inplace=True)

In [409]:
combined_df.reset_index(drop=True, inplace=True)
combined_df

,Title,Year,Director,Actors,Rating,Runtime,Genre,Release_Date,Plot_Summary
0,Kantara,2022,Rishab Shetty,"Rishab Shetty, Sapthami Gowda, Kishore Kumar G...",9.3,148,Action,30-Sep-22,"When greed paves the way for betrayal, schemin..."
1,The Dark Knight,2008,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart, M...",9.0,152,Action,18-Jul-08,When the menace known as the Joker wreaks havo...
2,The Lord of the Rings: The Return of the King,2003,Peter Jackson,"Elijah Wood, Viggo Mortensen, Ian McKellen, Or...",9.0,201,Action,17-Dec-03,Gandalf and Aragorn lead the World of Men agai...
3,Inception,2010,Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...",8.8,148,Action,16-Jul-10,A thief who steals corporate secrets through t...
4,The Lord of the Rings: The Two Towers,2002,Peter Jackson,"Elijah Wood, Ian McKellen, Viggo Mortensen, Or...",8.8,179,Action,18-Dec-02,While Frodo and Sam edge closer to Mordor with...
...,...,...,...,...,...,...,...,...,...
7027,Beyond White Space,2018,Ken Locsmandi,"Holt McCallany, Zulay Henao, Dave Sheridan",4.7,93 min,"Science Fiction, Thriller",14 Dec 2018,The USS Essex is travelling in the furthest re...
7028,Havoc,2005,Barbara Kopple,"Anne Hathaway, Bijou Phillips, Shiri Appleby",5.2,85 min,"Crime, Drama",16 Oct 2005,Two affluent suburban girls clash with the Lat...
7029,Batman: Return of the Caped Crusaders,2016,Rick Morales,"Adam West, Burt Ward, Julie Newmar",6.5,78 min,"Action, Animation, Adventure, Crime, Science F...",11 Oct 2016,Batman and Robin of the 1960s live action seri...
7030,One Crazy Summer: A Look Back at Gravity Falls,2018,Brian Ward,"Matt Braly, Brad Breeck, Jackie Buscarino, Rob...",2.0,105 min,Documentary,24 Jul 2018,The ultimate Gravity Falls behind the scenes d...
7031,Gunfight at the O.K. Corral,1957,John Sturges,"Burt Lancaster, Kirk Douglas, Rhonda Fleming",7.0,122 min,Western,30 May 1957,Lawman Wyatt Earp and outlaw Doc Holliday form...

In [410]:
new_df= pd.read_csv('top_1000_popular_movies_tmdb.csv')
new_df = new_df[new_df['original_language'] == 'English']

new_df.rename(columns={'vote_average': 'Rating'}, inplace=True)
new_df.rename(columns={'overview': 'Plot_Summary'}, inplace=True)
new_df.rename(columns={'genres': 'Genre'}, inplace=True)
new_df.rename(columns={'title': 'Title'}, inplace=True)
new_df.rename(columns={'runtime': 'Runtime'}, inplace=True)
new_df.rename(columns={'release_date': 'Release_Date'}, inplace=True)

new_df = new_df.drop(columns=['id', 'original_language', 'vote_count', 'popularity', 'budget', 'production_companies', 'revenue', 'tagline'])

In [411]:
new_df

,Unnamed: 0,Title,Release_Date,Genre,Rating,Plot_Summary,Runtime
0,0,Fast X,5/17/2023,"['Action', 'Crime', 'Thriller']",7.4,Over many missions and against impossible odds...,142.0
1,1,John Wick: Chapter 4,3/22/2023,"['Action', 'Thriller', 'Crime']",7.9,"With the price on his head ever increasing, Jo...",170.0
2,2,The Super Mario Bros. Movie,4/5/2023,"['Animation', 'Family', 'Adventure', 'Fantasy'...",7.8,"While working underground to fix a water main,...",92.0
3,3,Spider-Man: Across the Spider-Verse,5/31/2023,"['Action', 'Adventure', 'Animation', 'Science ...",8.8,"After reuniting with Gwen Stacy, Brooklynâ€™s fu...",140.0
4,4,Hypnotic,5/11/2023,"['Mystery', 'Thriller', 'Science Fiction']",6.5,A detective becomes entangled in a mystery inv...,94.0
...,...,...,...,...,...,...,...
9994,9993,Shut In,11/11/2016,"['Drama', 'Thriller']",5.3,A widowed child psychologist lives in an isola...,91.0
9997,9996,Dead Men Don't Wear Plaid,5/21/1982,"['Comedy', 'Mystery']",6.6,Juliet Forrest is convinced that the reported ...,89.0
9998,9997,Communion,11/10/1989,"['Drama', 'Horror', 'Science Fiction', 'Thrill...",5.3,A novelist's wife and son see him changed by a...,103.0
9999,9998,Tess,10/6/1979,"['Drama', 'Romance']",7.0,A strong-willed peasant girl is sent by her fa...,186.0
10000,9999,The Possession of Michael King,8/14/2014,['Horror'],6.1,The film tells the story of documentary filmma...,83.0

In [412]:
import pandas as pd

# Assuming 'combined_df2' and 'new_df' are your DataFrames
# Replace them with your actual DataFrames

# Identify matching 'Title' values
matching_titles = set(combined_df['Title']).intersection(new_df['Title'])

# Filter 'new_df' to retain only non-matching rows
new_df = new_df[~new_df['Title'].isin(matching_titles)]

# Both 'combined_df2' and 'new_df' now contain non-matching rows

In [413]:
new_df.reset_index(drop=True, inplace=True)
#new_df = new_df.drop(columns=['Unnamed: 0'])

new_df

,Unnamed: 0,Title,Release_Date,Genre,Rating,Plot_Summary,Runtime
0,0,Fast X,5/17/2023,"['Action', 'Crime', 'Thriller']",7.4,Over many missions and against impossible odds...,142.0
1,1,John Wick: Chapter 4,3/22/2023,"['Action', 'Thriller', 'Crime']",7.9,"With the price on his head ever increasing, Jo...",170.0
2,2,The Super Mario Bros. Movie,4/5/2023,"['Animation', 'Family', 'Adventure', 'Fantasy'...",7.8,"While working underground to fix a water main,...",92.0
3,3,Spider-Man: Across the Spider-Verse,5/31/2023,"['Action', 'Adventure', 'Animation', 'Science ...",8.8,"After reuniting with Gwen Stacy, Brooklynâ€™s fu...",140.0
4,6,The Black Demon,4/26/2023,"['Horror', 'Thriller']",6.5,Oilman Paul Sturges' idyllic family vacation t...,100.0
...,...,...,...,...,...,...,...
2012,9992,The Meyerowitz Stories (New and Selected),10/13/2017,"['Comedy', 'Drama']",6.5,An estranged family gathers together in New Yo...,112.0
2013,9996,Dead Men Don't Wear Plaid,5/21/1982,"['Comedy', 'Mystery']",6.6,Juliet Forrest is convinced that the reported ...,89.0
2014,9997,Communion,11/10/1989,"['Drama', 'Horror', 'Science Fiction', 'Thrill...",5.3,A novelist's wife and son see him changed by a...,103.0
2015,9998,Tess,10/6/1979,"['Drama', 'Romance']",7.0,A strong-willed peasant girl is sent by her fa...,186.0
2016,9999,The Possession of Michael King,8/14/2014,['Horror'],6.1,The film tells the story of documentary filmma...,83.0

In [414]:
nd1=pd.read_csv("nd1_with_movie_details.csv")
nd2=pd.read_csv("nd2_with_movie_details.csv")
nd3=pd.read_csv("nd3_with_movie_details.csv")
new_df= pd.concat([nd1, nd2, nd3], ignore_index=True)

In [415]:

num_nan_values = new_df['Release_Date'].isna().sum()

print(f"Number of NaN values in 'Release_Date' column: {num_nan_values}")

Number of NaN values in 'Release_Date' column: 18

In [416]:
combined_df = pd.concat([combined_df, new_df], ignore_index=True)
combined_df

,Title,Year,Director,Actors,Rating,Runtime,Genre,Release_Date,Plot_Summary
0,Kantara,2022,Rishab Shetty,"Rishab Shetty, Sapthami Gowda, Kishore Kumar G...",9.3,148,Action,30-Sep-22,"When greed paves the way for betrayal, schemin..."
1,The Dark Knight,2008,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart, M...",9.0,152,Action,18-Jul-08,When the menace known as the Joker wreaks havo...
2,The Lord of the Rings: The Return of the King,2003,Peter Jackson,"Elijah Wood, Viggo Mortensen, Ian McKellen, Or...",9.0,201,Action,17-Dec-03,Gandalf and Aragorn lead the World of Men agai...
3,Inception,2010,Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...",8.8,148,Action,16-Jul-10,A thief who steals corporate secrets through t...
4,The Lord of the Rings: The Two Towers,2002,Peter Jackson,"Elijah Wood, Ian McKellen, Viggo Mortensen, Or...",8.8,179,Action,18-Dec-02,While Frodo and Sam edge closer to Mordor with...
...,...,...,...,...,...,...,...,...,...
9042,The Meyerowitz Stories (New and Selected),NaN,NaN,NaN,6.5,112,"['Comedy', 'Drama']",10/13/2017,An estranged family gathers together in New Yo...
9043,Dead Men Don't Wear Plaid,1982.0,Carl Reiner,"Steve Martin, Rachel Ward, Alan Ladd",6.6,89,"['Comedy', 'Mystery']",5/21/1982,Juliet Forrest is convinced that the reported ...
9044,Communion,1989.0,Philippe Mora,"Christopher Walken, Lindsay Crouse, Frances St...",5.3,103,"['Drama', 'Horror', 'Science Fiction', 'Thrill...",11/10/1989,A novelist's wife and son see him changed by a...
9045,Tess,1979.0,Roman Polanski,"Nastassja Kinski, Peter Firth, Leigh Lawson",7.0,186,"['Drama', 'Romance']",10/6/1979,A strong-willed peasant girl is sent by her fa...
9046,The Possession of Michael King,2014.0,David Jung,"Shane Johnson, Ella Anderson, Cara Pifko",6.1,83,['Horror'],8/14/2014,The film tells the story of documentary filmma...

In [384]:
import pandas as pd

# Assuming 'combined_df' is your DataFrame
# Replace 'combined_df' with your actual DataFrame

# Convert the 'Year' column to numeric (integer or float)
combined_df['Year'] = pd.to_numeric(combined_df['Year'], errors='coerce')
combined_df

,Title,Year,Director,Actors,Rating,Runtime,Genre,Release_Date,Plot_Summary
0,Kantara,2022.0,Rishab Shetty,"Rishab Shetty, Sapthami Gowda, Kishore Kumar G...",9.3,148,Action,30-Sep-22,"When greed paves the way for betrayal, schemin..."
1,The Dark Knight,2008.0,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart, M...",9.0,152,Action,18-Jul-08,When the menace known as the Joker wreaks havo...
2,The Lord of the Rings: The Return of the King,2003.0,Peter Jackson,"Elijah Wood, Viggo Mortensen, Ian McKellen, Or...",9.0,201,Action,17-Dec-03,Gandalf and Aragorn lead the World of Men agai...
3,Inception,2010.0,Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...",8.8,148,Action,16-Jul-10,A thief who steals corporate secrets through t...
4,The Lord of the Rings: The Two Towers,2002.0,Peter Jackson,"Elijah Wood, Ian McKellen, Viggo Mortensen, Or...",8.8,179,Action,18-Dec-02,While Frodo and Sam edge closer to Mordor with...
...,...,...,...,...,...,...,...,...,...
9042,The Meyerowitz Stories (New and Selected),NaN,NaN,NaN,6.5,112,"['Comedy', 'Drama']",10/13/2017,An estranged family gathers together in New Yo...
9043,Dead Men Don't Wear Plaid,1982.0,Carl Reiner,"Steve Martin, Rachel Ward, Alan Ladd",6.6,89,"['Comedy', 'Mystery']",5/21/1982,Juliet Forrest is convinced that the reported ...
9044,Communion,1989.0,Philippe Mora,"Christopher Walken, Lindsay Crouse, Frances St...",5.3,103,"['Drama', 'Horror', 'Science Fiction', 'Thrill...",11/10/1989,A novelist's wife and son see him changed by a...
9045,Tess,1979.0,Roman Polanski,"Nastassja Kinski, Peter Firth, Leigh Lawson",7.0,186,"['Drama', 'Romance']",10/6/1979,A strong-willed peasant girl is sent by her fa...
9046,The Possession of Michael King,2014.0,David Jung,"Shane Johnson, Ella Anderson, Cara Pifko",6.1,83,['Horror'],8/14/2014,The film tells the story of documentary filmma...

In [417]:
csv_filename = 'big_df.csv'
combined_df.to_csv(csv_filename, index=False)

In [385]:
import pandas as pd

# Assuming 'combined_df' is your DataFrame
# Replace 'combined_df' with your actual DataFrame

# Convert 'Release_Date' column to datetime objects with the current format
combined_df['Release_Date'] = pd.to_datetime(combined_df['Release_Date'], format='%d-%b-%y', errors='coerce')

# Format 'Release_Date' to the desired standard format
combined_df['Release_Date'] = combined_df['Release_Date'].dt.strftime('%Y-%m-%d')

In [386]:

combined_df

,Title,Year,Director,Actors,Rating,Runtime,Genre,Release_Date,Plot_Summary
0,Kantara,2022.0,Rishab Shetty,"Rishab Shetty, Sapthami Gowda, Kishore Kumar G...",9.3,148,Action,2022-09-30,"When greed paves the way for betrayal, schemin..."
1,The Dark Knight,2008.0,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart, M...",9.0,152,Action,2008-07-18,When the menace known as the Joker wreaks havo...
2,The Lord of the Rings: The Return of the King,2003.0,Peter Jackson,"Elijah Wood, Viggo Mortensen, Ian McKellen, Or...",9.0,201,Action,2003-12-17,Gandalf and Aragorn lead the World of Men agai...
3,Inception,2010.0,Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...",8.8,148,Action,2010-07-16,A thief who steals corporate secrets through t...
4,The Lord of the Rings: The Two Towers,2002.0,Peter Jackson,"Elijah Wood, Ian McKellen, Viggo Mortensen, Or...",8.8,179,Action,2002-12-18,While Frodo and Sam edge closer to Mordor with...
...,...,...,...,...,...,...,...,...,...
9042,The Meyerowitz Stories (New and Selected),NaN,NaN,NaN,6.5,112,"['Comedy', 'Drama']",NaN,An estranged family gathers together in New Yo...
9043,Dead Men Don't Wear Plaid,1982.0,Carl Reiner,"Steve Martin, Rachel Ward, Alan Ladd",6.6,89,"['Comedy', 'Mystery']",NaN,Juliet Forrest is convinced that the reported ...
9044,Communion,1989.0,Philippe Mora,"Christopher Walken, Lindsay Crouse, Frances St...",5.3,103,"['Drama', 'Horror', 'Science Fiction', 'Thrill...",NaN,A novelist's wife and son see him changed by a...
9045,Tess,1979.0,Roman Polanski,"Nastassja Kinski, Peter Firth, Leigh Lawson",7.0,186,"['Drama', 'Romance']",NaN,A strong-willed peasant girl is sent by her fa...
9046,The Possession of Michael King,2014.0,David Jung,"Shane Johnson, Ella Anderson, Cara Pifko",6.1,83,['Horror'],NaN,The film tells the story of documentary filmma...

In [338]:
import pandas as pd

# Assuming 'combined_df' is your DataFrame
# Replace 'combined_df' with your actual DataFrame

# Check the number of NaN values in the 'Release_Date' column
num_nan_values = combined_df['Release_Date'].isna().sum()

print(f"Number of NaN values in 'Release_Date' column: {num_nan_values}")

Number of NaN values in 'Release_Date' column: 10454

In [339]:
combined_df.sort_values(by='Release_Date', inplace=True)
combined_df.reset_index(drop=True, inplace=True)


# Check how many values in the 'Year' column are from '2012' and later
count_values_after_2012 = (combined_df['Year'] >= 2012).sum()

print(f"Number of values in the 'Year' column from 2012 and later: {count_values_after_2012}")
combined_df

Number of values in the 'Year' column from 2012 and later: 5061

,Title,Year,Director,Actors,Rating,Runtime,Genre,Release_Date,Plot_Summary
0,Kantara,2022.0,Rishab Shetty,"Rishab Shetty, Sapthami Gowda, Kishore Kumar G...",9.3,148,Action,NaN,"When greed paves the way for betrayal, schemin..."
1,The Dark Knight,2008.0,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart, M...",9.0,152,Action,NaN,When the menace known as the Joker wreaks havo...
2,The Lord of the Rings: The Return of the King,2003.0,Peter Jackson,"Elijah Wood, Viggo Mortensen, Ian McKellen, Or...",9.0,201,Action,NaN,Gandalf and Aragorn lead the World of Men agai...
3,Inception,2010.0,Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...",8.8,148,Action,NaN,A thief who steals corporate secrets through t...
4,The Lord of the Rings: The Two Towers,2002.0,Peter Jackson,"Elijah Wood, Ian McKellen, Viggo Mortensen, Or...",8.8,179,Action,NaN,While Frodo and Sam edge closer to Mordor with...
...,...,...,...,...,...,...,...,...,...
10449,Love & Basketball,2000.0,Gina Prince-Bythewood,"Sanaa Lathan, Omar Epps, Glenndon Chatman",7.5,124,"['Comedy', 'Drama', 'Romance']",NaN,Monica Wright and Quincy McCall grew up in the...
10450,Dead Men Don't Wear Plaid,1982.0,Carl Reiner,"Steve Martin, Rachel Ward, Alan Ladd",6.6,89,"['Comedy', 'Mystery']",NaN,Juliet Forrest is convinced that the reported ...
10451,Communion,1989.0,Philippe Mora,"Christopher Walken, Lindsay Crouse, Frances St...",5.3,103,"['Drama', 'Horror', 'Science Fiction', 'Thrill...",NaN,A novelist's wife and son see him changed by a...
10452,Tess,1979.0,Roman Polanski,"Nastassja Kinski, Peter Firth, Leigh Lawson",7.0,186,"['Drama', 'Romance']",NaN,A strong-willed peasant girl is sent by her fa...
10453,The Possession of Michael King,2014.0,David Jung,"Shane Johnson, Ella Anderson, Cara Pifko",6.1,83,['Horror'],NaN,The film tells the story of documentary filmma...

In [182]:
news_df= pd.read_csv("output.csv")
news_df = news_df.drop(columns=['link'])
news_df

,headline,category,short_description,authors,date
0,Over 4 Million Americans Roll Up Sleeves For O...,U.S. NEWS,Health experts said it is too early to predict...,"Carla K. Johnson, AP",2022-09-23
1,"American Airlines Flyer Charged, Banned For Li...",U.S. NEWS,He was subdued by passengers and crew when he ...,Mary Papenfuss,2022-09-23
2,23 Of The Funniest Tweets About Cats And Dogs ...,COMEDY,"""Until you have a dog you don't understand wha...",Elyse Wanshel,2022-09-23
3,The Funniest Tweets From Parents This Week (Se...,PARENTING,"""Accidentally put grown-up toothpaste on my to...",Caroline Bologna,2022-09-23
4,Woman Who Called Cops On Black Bird-Watcher Lo...,U.S. NEWS,Amy Cooper accused investment firm Franklin Te...,Nina Golgowski,2022-09-22
...,...,...,...,...,...
209522,RIM CEO Thorsten Heins' 'Significant' Plans Fo...,"Reuters, Reuters",https://www.huffingtonpost.com/entry/rim-ceo-t...,Verizon Wireless and AT&T are already promotin...,2012-01-28
209523,Maria Sharapova Stunned By Victoria Azarenka I...,NaN,https://www.huffingtonpost.com/entry/maria-sha...,"Afterward, Azarenka, more effusive with the pr...",2012-01-28
209524,"Giants Over Patriots, Jets Over Colts Among M...",NaN,https://www.huffingtonpost.com/entry/super-bow...,"Leading up to Super Bowl XLVI, the most talked...",2012-01-28
209525,Aldon Smith Arrested: 49ers Linebacker Busted ...,NaN,https://www.huffingtonpost.com/entry/aldon-smi...,CORRECTION: An earlier version of this story i...,2012-01-28
209526,Dwight Howard Rips Teammates After Magic Loss ...,NaN,https://www.huffingtonpost.com/entry/dwight-ho...,The five-time all-star center tore into his te...,2012-01-28

In [183]:
# Perform an inner join based on the 'date' and 'Release_Date' columns
merged_df = news_df.merge(combined_df, left_on='date', right_on='Release_Date', how='inner')

In [116]:
merged_df.reset_index(drop=True, inplace=True)
merged_df

,headline,category,short_description,authors,date,Title,Year,Director,Actors,Rating,Runtime,Genre,Release_Date,Plot_Summary
0,Over 4 Million Americans Roll Up Sleeves For O...,U.S. NEWS,Health experts said it is too early to predict...,"Carla K. Johnson, AP",2022-09-23,Don't Worry Darling,2022.0,Olivia Wilde,"Florence Pugh, Harry Styles, Chris Pine, Olivi...",6.2,123,Drama,2022-09-23,While her husband leaves home everyday to work...
1,Over 4 Million Americans Roll Up Sleeves For O...,U.S. NEWS,Health experts said it is too early to predict...,"Carla K. Johnson, AP",2022-09-23,Smile,2022.0,Parker Finn,"Sosie Bacon, Jessie T. Usher, Kyle Gallner",6.8,115,"['Horror', 'Mystery', 'Thriller']",2022-09-23,"After witnessing a bizarre, traumatic incident..."
2,Over 4 Million Americans Roll Up Sleeves For O...,U.S. NEWS,Health experts said it is too early to predict...,"Carla K. Johnson, AP",2022-09-23,Bandit,2022.0,Allan Ungar,"Josh Duhamel, Elisha Cuthbert, Nestor Carbonell",6.2,126,"['Crime', 'Drama', 'Thriller']",2022-09-23,"After escaping a Michigan prison, a charming c..."
3,Over 4 Million Americans Roll Up Sleeves For O...,U.S. NEWS,Health experts said it is too early to predict...,"Carla K. Johnson, AP",2022-09-23,The Infernal Machine,2022.0,Andrew Hunt,"Guy Pearce, Jeremy Davies, Eduardo FrazÃ£o",6.6,107,"['Thriller', 'Mystery']",2022-09-23,Reclusive and controversial author Bruce Cogbu...
4,Over 4 Million Americans Roll Up Sleeves For O...,U.S. NEWS,Health experts said it is too early to predict...,"Carla K. Johnson, AP",2022-09-23,Lou,2022.0,Anna Foerster,"Allison Janney, Jurnee Smollett, Logan Marshal...",6.6,107,"['Action', 'Thriller']",2022-09-23,A young girl is kidnapped during a powerful st...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205388,Work Hard For Denser Bones,Meredith Melnick,https://www.huffingtonpost.com/entry/exercise-...,"Researchers followed 1,061 25-year-old Swedish...",2012-02-01,Detachment,2011.0,Tony Kaye,"Adrien Brody, Christina Hendricks, Marcia Gay ...",7.7,98,Drama,2012-02-01,A substitute teacher who drifts from classroom...
205389,"Madeleine Telfer, Cancer Survivor, Celebrates ...",Jessica Samakow,https://www.huffingtonpost.com/entry/madeleine...,"""Life is now just fantastic. I couldn't be hap...",2012-02-01,Detachment,2011.0,Tony Kaye,"Adrien Brody, Christina Hendricks, Marcia Gay ...",7.7,98,Drama,2012-02-01,A substitute teacher who drifts from classroom...
205390,TSA Agent Accused Of Stealing iPads From Trave...,NaN,https://www.huffingtonpost.com/entry/ipads-sto...,Check out coverage by WFAA below. WFAA.com rep...,2012-02-01,Detachment,2011.0,Tony Kaye,"Adrien Brody, Christina Hendricks, Marcia Gay ...",7.7,98,Drama,2012-02-01,A substitute teacher who drifts from classroom...
205391,Anna Dello Russo Wigs Out For Radio Deejay's 3...,Dana Oliver,https://www.huffingtonpost.com/entry/anna-dell...,Anna Dello Russo's latest look has me wanting ...,2012-02-01,Detachment,2011.0,Tony Kaye,"Adrien Brody, Christina Hendricks, Marcia Gay ...",7.7,98,Drama,2012-02-01,A substitute teacher who drifts from classroom...
205392,Kristen Bell's Adorable Meltdown: Why We Cry W...,NaN,https://www.huffingtonpost.comhttp://www.every...,Kristen Bell's adorable quotient is sky-rocket...,2012-02-01,Detachment,2011.0,Tony Kaye,"Adrien Brody, Christina Hendricks, Marcia Gay ...",7.7,98,Drama,2012-02-01,A substitute teacher who drifts from classroom...

In [120]:
import pandas as pd

# Assuming 'news_df' and 'combined_df' are your DataFrames
# Replace them with your actual DataFrames

# Step 1: Sort both datasets by the date column
news_df.sort_values(by='date', inplace=True)
combined_df.sort_values(by='Release_Date', inplace=True)

# Step 2: Create a dictionary to map dates to the count of movies released
movie_count_dict = combined_df['Release_Date'].value_counts().to_dict()

# Initialize variables to keep track of headlines assigned to each date
assigned_headlines = {}
remaining_headlines = []

# Step 3 and 4: Iterate through 'news_df' and assign headlines to dates
for index, row in news_df.iterrows():
    date = row['date']
    if date in movie_count_dict:
        movie_count = movie_count_dict[date]
        if date not in assigned_headlines:
            assigned_headlines[date] = []
        if len(assigned_headlines[date]) < movie_count:
            assigned_headlines[date].append(row['headline'])
        else:
            remaining_headlines.append(row['headline'])

# Create a new DataFrame with assigned headlines
assigned_headlines_df = pd.DataFrame({
    'date': [date for date, headlines in assigned_headlines.items() for _ in headlines],
    'headline': [headline for headlines in assigned_headlines.values() for headline in headlines]
})

# 'assigned_headlines_df' now contains headlines assigned to dates

In [121]:
assigned_headlines_df

            date                                           headline
0     2012-02-01  CFDA's 'The Fashion Fund' On Hulu: Diane Von F...
1     2012-02-02          Saying Yes To The Dress With Randy Fenoli
2     2012-02-02  Heart Health: 13 Foods With Cardiovascular Ben...
3     2012-02-03  Marge Fitzsimmons, 36-Year-Old LeRoy Woman, Ha...
4     2012-02-03  Best Blogger Looks Of The Week: The Shoes Edit...
...          ...                                                ...
3875  2022-09-21  World Cup Captains Want To Wear Rainbow Armban...
3876  2022-09-23  The Funniest Tweets From Parents This Week (Se...
3877  2022-09-23  23 Of The Funniest Tweets About Cats And Dogs ...
3878  2022-09-23  American Airlines Flyer Charged, Banned For Li...
3879  2022-09-23  Over 4 Million Americans Roll Up Sleeves For O...

[3880 rows x 2 columns]

In [126]:
import pandas as pd

# Assuming 'news_df' and 'combined_df' are your DataFrames
# Replace them with your actual DataFrames

# Convert 'date' and 'Release_Date' columns to datetime objects
news_df['date'] = pd.to_datetime(news_df['date'])
combined_df['Release_Date'] = pd.to_datetime(combined_df['Release_Date'])

# Sort 'news_df' and 'combined_df' by their respective date columns
news_df.sort_values(by='date', inplace=True)
combined_df.sort_values(by='Release_Date', inplace=True)

# Count rows with the same dates in 'news_df'
news_df_date_counts = news_df.groupby('date').size().reset_index(name='news_count')

# Count rows with the same dates in 'combined_df'
combined_df_date_counts = combined_df.groupby('Release_Date').size().reset_index(name='movie_count')

# Print the counts for 'news_df' and 'combined_df'
print("Count of rows with the same dates in 'news_df':")
print(news_df_date_counts)

print("\nCount of rows with the same dates in 'combined_df':")
print(combined_df_date_counts)

Count of rows with the same dates in 'news_df':
           date  news_count
0    2012-01-28          66
1    2012-01-29          65
2    2012-01-30         100
3    2012-01-31         100
4    2012-02-01         100
...         ...         ...
3885 2022-09-19           6
3886 2022-09-20           6
3887 2022-09-21           6
3888 2022-09-22           5
3889 2022-09-23           4

[3890 rows x 2 columns]

Count of rows with the same dates in 'combined_df':
     Release_Date  movie_count
0      1915-02-08            2
1      1924-05-04            2
2      1929-01-05            1
3      1930-09-06            1
4      1931-07-16            2
...           ...          ...
4377   2072-09-26            1
4378   2072-12-11            1
4379   2072-12-13            1
4380   2072-12-16            1
4381   2072-12-21            1

[4382 rows x 2 columns]