In [ ]:
#This whole notebook is dedicated to standardizing the date formats.
#I tried to dvide the datasets based on the date formats and then standardize each of them and finally combine it all into
# a big dataset called 'combined_all'

In [2]:
import pandas as pd

In [48]:
new_comb= pd.read_csv("new_comb.csv")
new_comb

,Movie_Title,Year,Director,Actors,Rating,Runtime(Mins),Censor,Total_Gross,main_genre,side_genre,Release_Date,Plot_Summary
0,Kantara,2022,Rishab Shetty,"Rishab Shetty, Sapthami Gowda, Kishore Kumar G...",9.3,148,UA,Gross Unkown,Action,"Adventure, Drama",30-Sep-22,"When greed paves the way for betrayal, schemin..."
1,The Dark Knight,2008,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart, M...",9.0,152,UA,$534.86M,Action,"Crime, Drama",18-Jul-08,When the menace known as the Joker wreaks havo...
2,The Lord of the Rings: The Return of the King,2003,Peter Jackson,"Elijah Wood, Viggo Mortensen, Ian McKellen, Or...",9.0,201,U,$377.85M,Action,"Adventure, Drama",17-Dec-03,Gandalf and Aragorn lead the World of Men agai...
3,Inception,2010,Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...",8.8,148,UA,$292.58M,Action,"Adventure, Sci-Fi",16-Jul-10,A thief who steals corporate secrets through t...
4,The Lord of the Rings: The Two Towers,2002,Peter Jackson,"Elijah Wood, Ian McKellen, Viggo Mortensen, Or...",8.8,179,UA,$342.55M,Action,"Adventure, Drama",18-Dec-02,While Frodo and Sam edge closer to Mordor with...
...,...,...,...,...,...,...,...,...,...,...,...,...
5552,Disaster Movie,2008,"Directors:Jason Friedberg, Aaron Seltzer","Carmen Electra, Vanessa Lachey, Nicole Parker,...",1.9,87,PG-13,$14.19M,Comedy,Sci-Fi,29-Aug-08,"Over the course of one evening, an unsuspectin..."
5553,The Hottie & the Nottie,2008,Tom Putnam,"Paris Hilton, Joel David Moore, Christine Laki...",1.9,91,PG-13,$0.03M,Comedy,Romance,21-Feb-08,A woman agrees to go on a date with a man only...
5554,From Justin to Kelly,2003,Robert Iscove,"Kelly Clarkson, Justin Guarini, Katherine Bail...",1.9,81,PG,$4.92M,Comedy,"Musical, Romance",20-Jun-03,A waitress from Texas and a college student fr...
5555,Superbabies: Baby Geniuses 2,2004,Bob Clark,"Jon Voight, Scott Baio, Vanessa Angel, Skyler ...",1.5,88,PG,$9.11M,Comedy,"Family, Sci-Fi",27-Aug-04,A group of smart-talking toddlers find themsel...
5556,Cumali Ceber: Allah Seni Alsin,2017,Gökhan Gök,"Halil Söyletmez, Doga Konakoglu, Emre Keskin, ...",1.0,100,Not Rated,Gross Unkown,Comedy,Comedy,4-Aug-17,Cumali Ceber goes to a vacation with his child...

In [52]:
# Extract the year information from the 'Release_Date' column and create a new 'Year' column
#combined_df['Year'] = pd.to_datetime(combined_df['Release_Date'], errors='coerce').dt.year

# Find the earliest (minimum) year
earliest_year = new_comb['Release_Date'].min()

# Find the latest (maximum) year
latest_year = new_comb['Release_Date'].max()

print(f"Earliest year: {earliest_year}")
print(f"Latest year: {latest_year}")

Earliest year: 1921-02-06 00:00:00
Latest year: 2022-12-20 00:00:00

In [49]:
import pandas as pd

# Assuming 'new_comb' is your DataFrame
# Replace 'new_comb' with your actual DataFrame

# Convert 'Year' column to a four-digit year format
new_comb['Year'] = new_comb['Year'].apply(lambda x: '20' + str(x) if len(str(x)) == 2 else str(x))

# Function to parse the 'Release_Date' column and standardize the date
def parse_and_standardize_date(row):
    release_date = row['Release_Date']
    year = row['Year']
    if pd.notna(release_date):
        date_parts = release_date.split('-')
        if len(date_parts) == 3:
            day, month = date_parts[:2]
            standardized_date = f"{year}-{month}-{day}"
            return pd.to_datetime(standardized_date, format='%Y-%b-%d', errors='coerce')
    return pd.NaT

# Apply the function to create the 'Standardized_Date' column
new_comb['Release_Date'] = new_comb.apply(parse_and_standardize_date, axis=1)

# Drop the intermediate columns if not needed
#new_comb.drop(['Year'], axis=1, inplace=True)

In [55]:

missing_values_count = new_comb['Release_Date'].isna().sum()

print(f"Number of missing values in the 'Release_Date' column: {missing_values_count}")

Number of missing values in the 'Release_Date' column: 371

In [54]:
new_comb = new_comb.drop(columns=['Censor','Total_Gross', 'side_genre'])
new_comb.rename(columns={'main_genre': 'Genre'}, inplace=True) 
new_comb.rename(columns={'Movie_Title': 'Title'}, inplace=True)
new_comb.rename(columns={'Runtime(Mins)': 'Runtime'}, inplace=True)

new_comb

,Title,Year,Director,Actors,Rating,Runtime,Genre,Release_Date,Plot_Summary
0,Kantara,2022,Rishab Shetty,"Rishab Shetty, Sapthami Gowda, Kishore Kumar G...",9.3,148,Action,2022-09-30,"When greed paves the way for betrayal, schemin..."
1,The Dark Knight,2008,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart, M...",9.0,152,Action,2008-07-18,When the menace known as the Joker wreaks havo...
2,The Lord of the Rings: The Return of the King,2003,Peter Jackson,"Elijah Wood, Viggo Mortensen, Ian McKellen, Or...",9.0,201,Action,2003-12-17,Gandalf and Aragorn lead the World of Men agai...
3,Inception,2010,Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...",8.8,148,Action,2010-07-16,A thief who steals corporate secrets through t...
4,The Lord of the Rings: The Two Towers,2002,Peter Jackson,"Elijah Wood, Ian McKellen, Viggo Mortensen, Or...",8.8,179,Action,2002-12-18,While Frodo and Sam edge closer to Mordor with...
...,...,...,...,...,...,...,...,...,...
5552,Disaster Movie,2008,"Directors:Jason Friedberg, Aaron Seltzer","Carmen Electra, Vanessa Lachey, Nicole Parker,...",1.9,87,Comedy,2008-08-29,"Over the course of one evening, an unsuspectin..."
5553,The Hottie & the Nottie,2008,Tom Putnam,"Paris Hilton, Joel David Moore, Christine Laki...",1.9,91,Comedy,2008-02-21,A woman agrees to go on a date with a man only...
5554,From Justin to Kelly,2003,Robert Iscove,"Kelly Clarkson, Justin Guarini, Katherine Bail...",1.9,81,Comedy,2003-06-20,A waitress from Texas and a college student fr...
5555,Superbabies: Baby Geniuses 2,2004,Bob Clark,"Jon Voight, Scott Baio, Vanessa Angel, Skyler ...",1.5,88,Comedy,2004-08-27,A group of smart-talking toddlers find themsel...
5556,Cumali Ceber: Allah Seni Alsin,2017,Gökhan Gök,"Halil Söyletmez, Doga Konakoglu, Emre Keskin, ...",1.0,100,Comedy,2017-08-04,Cumali Ceber goes to a vacation with his child...

In [53]:
import pandas as pd

# Assuming 'new_comb' is your DataFrame
# Replace 'new_comb' with your actual DataFrame

# Find the earliest (minimum) year
earliest_year = new_comb['Year'].min()

# Find the latest (maximum) year
latest_year = new_comb['Year'].max()

print(f"Earliest year: {earliest_year}")
print(f"Latest year: {latest_year}")

Earliest year: 1920
Latest year: 2022

In [ ]:
#This is the second dataset that needed the dates to be standardized

In [67]:
combined_df2= pd.read_csv("combined2.csv")
combined_df2

,Release_Date,Title,Rating,Genre,Plot_Summary,Director,Actors,Year,Runtime
0,17 Dec 2021,Spider-Man: No Way Home,8.3,"Action, Adventure, Science Fiction","With Spider-Man's identity now revealed, Peter...",Jon Watts,"Tom Holland, Zendaya, Benedict Cumberbatch",2021,148 min
1,04 Mar 2022,The Batman,8.1,"Crime, Mystery, Thriller",When a sadistic serial killer begins murdering...,Matt Reeves,"Robert Pattinson, Zoë Kravitz, Jeffrey Wright",2022,176 min
2,25 Feb 2022,No Exit,6.3,Thriller,During a blizzard and stranded at an isolated ...,Damien Power,"Havana Rose Liu, Danny Ramirez, David Rysdahl",2022,95 min
3,24 Nov 2021,Encanto,7.7,"Animation, Comedy, Family, Fantasy",A Colombian teenage girl has to face the frust...,"Jared Bush, Byron Howard, Charise Castro Smith","Stephanie Beatriz, María Cecilia Botero, John ...",2021,102 min
4,22 Dec 2021,The King's Man,7.0,"Action, Adventure, Thriller, War","In the early years of the 20th century, the Ki...",Matthew Vaughn,"Ralph Fiennes, Gemma Arterton, Rhys Ifans",2021,131 min
...,...,...,...,...,...,...,...,...,...
5781,05 Aug 2016,The Little Prince,6.6,"Science Fiction, Fantasy, Family, Music",A little girl lives in a very grown-up world w...,Mark Osborne,"Jeff Bridges, Mackenzie Foy, Rachel McAdams",2015,108 min
5782,05 Jan 1974,Badlands,7.6,"Drama, Crime",An impressionable teenage girl from a dead-end...,Terrence Malick,"Martin Sheen, Sissy Spacek, Warren Oates",1973,94 min
5783,13 Jan 2023,The Offering,5.0,"Mystery, Thriller, Horror",A family struggling with loss find themselves ...,Oliver Park,"Nick Blood, Emily Wiseman, Paul Kaye",2022,93 min
5784,26 Feb 2021,The United States vs. Billie Holiday,6.7,"Music, Drama, History",Follows Holiday during her career as she is ta...,Lee Daniels,"Andra Day, Trevante Rhodes, Garrett Hedlund",2021,126 min
5785,23 Sep 1984,Threads,7.8,"War, Drama, Science Fiction",The effects of a nuclear holocaust on the work...,Mick Jackson,"Karen Meagher, Reece Dinsdale, David Brierly",1984,112 min

In [68]:

missing_values_count = combined_df2['Release_Date'].isna().sum()

print(f"Number of missing values in the 'Release_Date' column: {missing_values_count}")

Number of missing values in the 'Release_Date' column: 199

In [69]:
import pandas as pd

# Assuming 'combined_df2' is your DataFrame
# Replace 'combined_df2' with your actual DataFrame

# Convert 'Year' column to a four-digit year format
combined_df2['Year'] = combined_df2['Year'].apply(lambda x: '20' + str(x) if len(str(x)) == 2 else str(x))

# Function to parse the 'Release_Date' column and standardize the date
def parse_and_standardize_date(row):
    release_date = row['Release_Date']
    year = row['Year']
    if pd.notna(release_date):
        date_parts = release_date.split(' ')
        if len(date_parts) == 3:
            day, month, year = date_parts
            month = month[:3]  # Extract the first three letters of the month
            standardized_date = f"{year}-{month}-{day}"
            return pd.to_datetime(standardized_date, format='%Y-%b-%d', errors='coerce')
    return pd.NaT

# Apply the function to create the 'Standardized_Date' column
combined_df2['Release_Date'] = combined_df2.apply(parse_and_standardize_date, axis=1)

# Drop the intermediate columns if not needed
#combined_df2.drop(['Year'], axis=1, inplace=True)

In [70]:
combined_df2

,Release_Date,Title,Rating,Genre,Plot_Summary,Director,Actors,Year,Runtime
0,2021-12-17,Spider-Man: No Way Home,8.3,"Action, Adventure, Science Fiction","With Spider-Man's identity now revealed, Peter...",Jon Watts,"Tom Holland, Zendaya, Benedict Cumberbatch",2021,148 min
1,2022-03-04,The Batman,8.1,"Crime, Mystery, Thriller",When a sadistic serial killer begins murdering...,Matt Reeves,"Robert Pattinson, Zoë Kravitz, Jeffrey Wright",2022,176 min
2,2022-02-25,No Exit,6.3,Thriller,During a blizzard and stranded at an isolated ...,Damien Power,"Havana Rose Liu, Danny Ramirez, David Rysdahl",2022,95 min
3,2021-11-24,Encanto,7.7,"Animation, Comedy, Family, Fantasy",A Colombian teenage girl has to face the frust...,"Jared Bush, Byron Howard, Charise Castro Smith","Stephanie Beatriz, María Cecilia Botero, John ...",2021,102 min
4,2021-12-22,The King's Man,7.0,"Action, Adventure, Thriller, War","In the early years of the 20th century, the Ki...",Matthew Vaughn,"Ralph Fiennes, Gemma Arterton, Rhys Ifans",2021,131 min
...,...,...,...,...,...,...,...,...,...
5781,2016-08-05,The Little Prince,6.6,"Science Fiction, Fantasy, Family, Music",A little girl lives in a very grown-up world w...,Mark Osborne,"Jeff Bridges, Mackenzie Foy, Rachel McAdams",2015,108 min
5782,1974-01-05,Badlands,7.6,"Drama, Crime",An impressionable teenage girl from a dead-end...,Terrence Malick,"Martin Sheen, Sissy Spacek, Warren Oates",1973,94 min
5783,2023-01-13,The Offering,5.0,"Mystery, Thriller, Horror",A family struggling with loss find themselves ...,Oliver Park,"Nick Blood, Emily Wiseman, Paul Kaye",2022,93 min
5784,2021-02-26,The United States vs. Billie Holiday,6.7,"Music, Drama, History",Follows Holiday during her career as she is ta...,Lee Daniels,"Andra Day, Trevante Rhodes, Garrett Hedlund",2021,126 min
5785,1984-09-23,Threads,7.8,"War, Drama, Science Fiction",The effects of a nuclear holocaust on the work...,Mick Jackson,"Karen Meagher, Reece Dinsdale, David Brierly",1984,112 min

In [71]:

missing_values_count = combined_df2['Release_Date'].isna().sum()

print(f"Number of missing values in the 'Release_Date' column: {missing_values_count}")

Number of missing values in the 'Release_Date' column: 199

In [199]:
#For this dataset, since we had three different date formats in the same dataset, its best to divide it into three datasets, 
#standardize the dates and join them again. Conditionally changinging the dataset based on the format was not working for 
#some reason. Thus, I decided this is the best solution

In [159]:
big_df= pd.read_csv("big_df.csv")
big_df

,Title,Year,Director,Actors,Rating,Runtime,Genre,Release_Date,Plot_Summary
0,Kantara,2022,Rishab Shetty,"Rishab Shetty, Sapthami Gowda, Kishore Kumar G...",9.3,148,Action,30-Sep-22,"When greed paves the way for betrayal, schemin..."
1,The Dark Knight,2008,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart, M...",9.0,152,Action,18-Jul-08,When the menace known as the Joker wreaks havo...
2,The Lord of the Rings: The Return of the King,2003,Peter Jackson,"Elijah Wood, Viggo Mortensen, Ian McKellen, Or...",9.0,201,Action,17-Dec-03,Gandalf and Aragorn lead the World of Men agai...
3,Inception,2010,Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...",8.8,148,Action,16-Jul-10,A thief who steals corporate secrets through t...
4,The Lord of the Rings: The Two Towers,2002,Peter Jackson,"Elijah Wood, Ian McKellen, Viggo Mortensen, Or...",8.8,179,Action,18-Dec-02,While Frodo and Sam edge closer to Mordor with...
...,...,...,...,...,...,...,...,...,...
9042,The Meyerowitz Stories (New and Selected),NaN,NaN,NaN,6.5,112,"['Comedy', 'Drama']",10/13/2017,An estranged family gathers together in New Yo...
9043,Dead Men Don't Wear Plaid,1982.0,Carl Reiner,"Steve Martin, Rachel Ward, Alan Ladd",6.6,89,"['Comedy', 'Mystery']",5/21/1982,Juliet Forrest is convinced that the reported ...
9044,Communion,1989.0,Philippe Mora,"Christopher Walken, Lindsay Crouse, Frances St...",5.3,103,"['Drama', 'Horror', 'Science Fiction', 'Thrill...",11/10/1989,A novelist's wife and son see him changed by a...
9045,Tess,1979.0,Roman Polanski,"Nastassja Kinski, Peter Firth, Leigh Lawson",7.0,186,"['Drama', 'Romance']",10/6/1979,A strong-willed peasant girl is sent by her fa...
9046,The Possession of Michael King,2014.0,David Jung,"Shane Johnson, Ella Anderson, Cara Pifko",6.1,83,['Horror'],8/14/2014,The film tells the story of documentary filmma...

In [160]:
import pandas as pd

# Assuming 'big_df' is your DataFrame
# Replace 'big_df' with your actual DataFrame

# Count the number of rows with one or more NaN values
num_rows_with_nan = big_df.isna().any(axis=1).sum()

print(f"Number of rows with one or more NaN values: {num_rows_with_nan}")

Number of rows with one or more NaN values: 304

In [161]:
import pandas as pd

# Assuming 'big_df' is your DataFrame
# Replace 'big_df' with your actual DataFrame

# Drop rows with one or more missing values
big_df.dropna(inplace=True)

In [162]:
big_df

,Title,Year,Director,Actors,Rating,Runtime,Genre,Release_Date,Plot_Summary
0,Kantara,2022,Rishab Shetty,"Rishab Shetty, Sapthami Gowda, Kishore Kumar G...",9.3,148,Action,30-Sep-22,"When greed paves the way for betrayal, schemin..."
1,The Dark Knight,2008,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart, M...",9.0,152,Action,18-Jul-08,When the menace known as the Joker wreaks havo...
2,The Lord of the Rings: The Return of the King,2003,Peter Jackson,"Elijah Wood, Viggo Mortensen, Ian McKellen, Or...",9.0,201,Action,17-Dec-03,Gandalf and Aragorn lead the World of Men agai...
3,Inception,2010,Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...",8.8,148,Action,16-Jul-10,A thief who steals corporate secrets through t...
4,The Lord of the Rings: The Two Towers,2002,Peter Jackson,"Elijah Wood, Ian McKellen, Viggo Mortensen, Or...",8.8,179,Action,18-Dec-02,While Frodo and Sam edge closer to Mordor with...
...,...,...,...,...,...,...,...,...,...
9041,Love & Basketball,2000.0,Gina Prince-Bythewood,"Sanaa Lathan, Omar Epps, Glenndon Chatman",7.5,124,"['Comedy', 'Drama', 'Romance']",4/21/2000,Monica Wright and Quincy McCall grew up in the...
9043,Dead Men Don't Wear Plaid,1982.0,Carl Reiner,"Steve Martin, Rachel Ward, Alan Ladd",6.6,89,"['Comedy', 'Mystery']",5/21/1982,Juliet Forrest is convinced that the reported ...
9044,Communion,1989.0,Philippe Mora,"Christopher Walken, Lindsay Crouse, Frances St...",5.3,103,"['Drama', 'Horror', 'Science Fiction', 'Thrill...",11/10/1989,A novelist's wife and son see him changed by a...
9045,Tess,1979.0,Roman Polanski,"Nastassja Kinski, Peter Firth, Leigh Lawson",7.0,186,"['Drama', 'Romance']",10/6/1979,A strong-willed peasant girl is sent by her fa...
9046,The Possession of Michael King,2014.0,David Jung,"Shane Johnson, Ella Anderson, Cara Pifko",6.1,83,['Horror'],8/14/2014,The film tells the story of documentary filmma...

In [163]:
import pandas as pd

# Assuming 'big_df' is your DataFrame
# Replace 'big_df' with your actual DataFrame

# Convert the 'Year' column to numeric, treating non-numeric values as NaN
big_df['Year'] = pd.to_numeric(big_df['Year'], errors='coerce')

# Convert the numeric values to integers, ignoring NaN values
big_df['Year'] = big_df['Year'].fillna(0).astype(int)

In [164]:

missing_values_count = big_df['Year'].isna().sum()

print(f"Number of missing values in the 'Release_Date' column: {missing_values_count}")

Number of missing values in the 'Release_Date' column: 0

In [ ]:
import pandas as pd

# Assuming 'big_df' is your DataFrame
# Replace 'big_df' with your actual DataFrame

# Create three empty DataFrames for the three parts
big_df1 = pd.DataFrame(columns=big_df.columns)
big_df2 = pd.DataFrame(columns=big_df.columns)
big_df3 = pd.DataFrame(columns=big_df.columns)

# Function to split rows based on date format
def split_by_date_format(row):
    release_date = row['Release_Date']
    if pd.notna(release_date):
        try:
            # Attempt to parse the date with the format "dd-mmm-yy"
            parsed_date1 = pd.to_datetime(release_date, format='%d-%b-%y', errors='raise')
            # If parsing succeeds, it's in the specified format
            big_df1.loc[len(big_df1)] = row
        except ValueError:
            try:
                # Attempt to parse the date with the format "m/dd/yyyy"
                parsed_date2 = pd.to_datetime(release_date, format='%m/%d/%Y', errors='raise')
                # If parsing succeeds, it's in the specified format
                big_df2.loc[len(big_df2)] = row
            except ValueError:
                # If parsing fails for both formats, assume it's in 'dd mmm yyyy' format
                big_df3.loc[len(big_df3)] = row

# Apply the function to split rows based on date format
big_df.apply(split_by_date_format, axis=1)

# Reset the index of the resulting DataFrames if needed
big_df1.reset_index(drop=True, inplace=True)
big_df2.reset_index(drop=True, inplace=True)
big_df3.reset_index(drop=True, inplace=True)

In [ ]:
#The dataset called bug_df is divided into three parts- big_df1, big_df2 and big_df3

In [ ]:
import pandas as pd

# Assuming 'big_df2' is your DataFrame
# Replace 'big_df2' with your actual DataFrame

# Convert 'Year' column to a four-digit year format
big_df2['Year'] = big_df2['Year'].apply(lambda x: '20' + str(x) if len(str(x)) == 2 else str(x))

# Function to parse the 'Release_Date' column and standardize the date
def parse_and_standardize_date(row):
    release_date = row['Release_Date']
    year = row['Year']
    if pd.notna(release_date):
        date_parts = release_date.split(' ')
        if len(date_parts) == 3:
            day, month, year = date_parts
            month = month[:3]  # Extract the first three letters of the month
            standardized_date = f"{year}-{month}-{day}"
            return pd.to_datetime(standardized_date, format='%Y-%b-%d', errors='coerce')
    return pd.NaT

# Apply the function to create the 'Standardized_Date' column
big_df2['Release_Date'] = big_df2.apply(parse_and_standardize_date, axis=1)

# Drop the intermediate columns if not needed
#big_df2.drop(['Year'], axis=1, inplace=True)

In [166]:
big_df2

,Title,Year,Director,Actors,Rating,Runtime,Genre,Release_Date,Plot_Summary
0,No Exit,2022,Damien Power,"Havana Rose Liu, Danny Ramirez, David Rysdahl",6.3,95 min,Thriller,25 Feb 2022,During a blizzard and stranded at an isolated ...
1,The Commando,2022,Asif Akbar,"Mickey Rourke, Jeff Fahey, Michael Jai White",6.6,93 min,"Action, Crime, Thriller",10 Jan 2022,A DEA agent returns home with PTSD after a bot...
2,Fistful of Vengeance,2022,Roel Reiné,"Iko Uwais, Lewis Tan, Lawrence Kao",5.3,96 min,"Action, Crime, Fantasy",17 Feb 2022,"Kai Jin, a young Chinatown chef in present day..."
3,Pursuit,2022,Brian Skiba,"Emile Hirsch, Jake Manley, Elizabeth Faith Ludlow",5.9,95 min,"Action, Crime, Thriller",18 Feb 2022,"Detective Breslin crosses paths with Calloway,..."
4,The Ice Age Adventures of Buck Wild,2022,"Marshall Fels Elliott, John C. Donkin","Utkarsh Ambudkar, Sean Kenin, Jake Green",7.1,82 min,"Animation, Comedy, Adventure, Family",28 Jan 2022,The Ice Age Adventures of Buck Wild continues ...
...,...,...,...,...,...,...,...,...,...
3713,Love & Basketball,2000,Gina Prince-Bythewood,"Sanaa Lathan, Omar Epps, Glenndon Chatman",7.5,124,"['Comedy', 'Drama', 'Romance']",4/21/2000,Monica Wright and Quincy McCall grew up in the...
3714,Dead Men Don't Wear Plaid,1982,Carl Reiner,"Steve Martin, Rachel Ward, Alan Ladd",6.6,89,"['Comedy', 'Mystery']",5/21/1982,Juliet Forrest is convinced that the reported ...
3715,Communion,1989,Philippe Mora,"Christopher Walken, Lindsay Crouse, Frances St...",5.3,103,"['Drama', 'Horror', 'Science Fiction', 'Thrill...",11/10/1989,A novelist's wife and son see him changed by a...
3716,Tess,1979,Roman Polanski,"Nastassja Kinski, Peter Firth, Leigh Lawson",7.0,186,"['Drama', 'Romance']",10/6/1979,A strong-willed peasant girl is sent by her fa...
3717,The Possession of Michael King,2014,David Jung,"Shane Johnson, Ella Anderson, Cara Pifko",6.1,83,['Horror'],8/14/2014,The film tells the story of documentary filmma...

In [158]:

missing_values_count = big_df2['Release_Date'].isna().sum()

print(f"Number of missing values in the 'Release_Date' column: {missing_values_count}")

Number of missing values in the 'Release_Date' column: 1711

In [174]:
import pandas as pd

# Assuming 'big_df1' is your DataFrame
# Replace 'big_df1' with your actual DataFrame

# Convert 'Year' column to a four-digit year format
big_df1['Year'] = big_df1['Year'].apply(lambda x: '20' + str(x) if len(str(x)) == 2 else str(x))

# Function to parse the 'Release_Date' column and standardize the date
def parse_and_standardize_date(row):
    release_date = row['Release_Date']
    year = row['Year']
    if pd.notna(release_date):
        date_parts = release_date.split('-')
        if len(date_parts) == 3:
            day, month = date_parts[:2]
            standardized_date = f"{year}-{month}-{day}"
            return pd.to_datetime(standardized_date, format='%Y-%b-%d', errors='coerce')
    return pd.NaT

# Apply the function to create the 'Standardized_Date' column
big_df1['Release_Date'] = big_df1.apply(parse_and_standardize_date, axis=1)

# Drop the intermediate columns if not needed
#big_df1.drop(['Year'], axis=1, inplace=True)

In [175]:
big_df1

,Title,Year,Director,Actors,Rating,Runtime,Genre,Release_Date,Plot_Summary
0,Kantara,2022,Rishab Shetty,"Rishab Shetty, Sapthami Gowda, Kishore Kumar G...",9.3,148,Action,2022-09-30,"When greed paves the way for betrayal, schemin..."
1,The Dark Knight,2008,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart, M...",9.0,152,Action,2008-07-18,When the menace known as the Joker wreaks havo...
2,The Lord of the Rings: The Return of the King,2003,Peter Jackson,"Elijah Wood, Viggo Mortensen, Ian McKellen, Or...",9.0,201,Action,2003-12-17,Gandalf and Aragorn lead the World of Men agai...
3,Inception,2010,Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...",8.8,148,Action,2010-07-16,A thief who steals corporate secrets through t...
4,The Lord of the Rings: The Two Towers,2002,Peter Jackson,"Elijah Wood, Ian McKellen, Viggo Mortensen, Or...",8.8,179,Action,2002-12-18,While Frodo and Sam edge closer to Mordor with...
...,...,...,...,...,...,...,...,...,...
5020,Disaster Movie,2008,"Directors:Jason Friedberg, Aaron Seltzer","Carmen Electra, Vanessa Lachey, Nicole Parker,...",1.9,87,Comedy,2008-08-29,"Over the course of one evening, an unsuspectin..."
5021,The Hottie & the Nottie,2008,Tom Putnam,"Paris Hilton, Joel David Moore, Christine Laki...",1.9,91,Comedy,2008-02-21,A woman agrees to go on a date with a man only...
5022,From Justin to Kelly,2003,Robert Iscove,"Kelly Clarkson, Justin Guarini, Katherine Bail...",1.9,81,Comedy,2003-06-20,A waitress from Texas and a college student fr...
5023,Superbabies: Baby Geniuses 2,2004,Bob Clark,"Jon Voight, Scott Baio, Vanessa Angel, Skyler ...",1.5,88,Comedy,2004-08-27,A group of smart-talking toddlers find themsel...
5024,Cumali Ceber: Allah Seni Alsin,2017,Gökhan Gök,"Halil Söyletmez, Doga Konakoglu, Emre Keskin, ...",1.0,100,Comedy,2017-08-04,Cumali Ceber goes to a vacation with his child...

In [153]:
import pandas as pd

# Assuming 'big_df1' is your DataFrame
# Replace 'big_df1' with your actual DataFrame

# Convert 'Year' column to a four-digit year format
big_df1['Year'] = big_df1['Year'].apply(lambda x: '20' + str(x) if len(str(x)) == 2 else str(x))

# Function to parse the 'Release_Date' column and standardize the date
def parse_and_standardize_date(row):
    release_date = row['Release_Date']
    year = row['Year']
    if pd.notna(release_date):
        date_parts = release_date.split('-')
        if len(date_parts) == 3:
            day, month = date_parts[:2]
            standardized_date = f"{year}-{month}-{day}"
            return pd.to_datetime(standardized_date, format='%Y-%b-%d', errors='coerce')
    return pd.NaT

# Apply the function to create the 'Standardized_Date' column
big_df1['Release_Date'] = big_df1.apply(parse_and_standardize_date, axis=1)

# Drop the intermediate columns if not needed
#big_df1.drop(['Year'], axis=1, inplace=True)

Number of missing values in the 'Release_Date' column: 1

In [171]:
import pandas as pd

# Assuming 'big_df3' is your DataFrame
# Replace 'big_df3' with your actual DataFrame

# Convert 'Year' column to a four-digit year format
big_df3['Year'] = big_df3['Year'].apply(lambda x: '20' + str(x) if len(str(x)) == 2 else str(x))

# Function to parse the 'Release_Date' column and standardize the date
def parse_and_standardize_date(row):
    release_date = row['Release_Date']
    year = row['Year']
    if pd.notna(release_date):
        date_parts = release_date.split(' ')
        if len(date_parts) == 3:
            day, month, year = date_parts
            month = month[:3]  # Extract the first three letters of the month
            standardized_date = f"{year}-{month}-{day}"
            return pd.to_datetime(standardized_date, format='%Y-%b-%d', errors='coerce')
    return pd.NaT

# Apply the function to create the 'Standardized_Date' column
big_df3['Release_Date'] = big_df3.apply(parse_and_standardize_date, axis=1)

# Drop the intermediate columns if not needed
#big_df3.drop(['Year'], axis=1, inplace=True)

In [172]:
big_df3

,Title,Year,Director,Actors,Rating,Runtime,Genre,Release_Date,Plot_Summary
0,No Exit,2022,Damien Power,"Havana Rose Liu, Danny Ramirez, David Rysdahl",6.3,95 min,Thriller,2022-02-25,During a blizzard and stranded at an isolated ...
1,The Commando,2022,Asif Akbar,"Mickey Rourke, Jeff Fahey, Michael Jai White",6.6,93 min,"Action, Crime, Thriller",2022-01-10,A DEA agent returns home with PTSD after a bot...
2,Fistful of Vengeance,2022,Roel Reiné,"Iko Uwais, Lewis Tan, Lawrence Kao",5.3,96 min,"Action, Crime, Fantasy",2022-02-17,"Kai Jin, a young Chinatown chef in present day..."
3,Pursuit,2022,Brian Skiba,"Emile Hirsch, Jake Manley, Elizabeth Faith Ludlow",5.9,95 min,"Action, Crime, Thriller",2022-02-18,"Detective Breslin crosses paths with Calloway,..."
4,The Ice Age Adventures of Buck Wild,2022,"Marshall Fels Elliott, John C. Donkin","Utkarsh Ambudkar, Sean Kenin, Jake Green",7.1,82 min,"Animation, Comedy, Adventure, Family",2022-01-28,The Ice Age Adventures of Buck Wild continues ...
...,...,...,...,...,...,...,...,...,...
2002,Beyond White Space,2018,Ken Locsmandi,"Holt McCallany, Zulay Henao, Dave Sheridan",4.7,93 min,"Science Fiction, Thriller",2018-12-14,The USS Essex is travelling in the furthest re...
2003,Havoc,2005,Barbara Kopple,"Anne Hathaway, Bijou Phillips, Shiri Appleby",5.2,85 min,"Crime, Drama",2005-10-16,Two affluent suburban girls clash with the Lat...
2004,Batman: Return of the Caped Crusaders,2016,Rick Morales,"Adam West, Burt Ward, Julie Newmar",6.5,78 min,"Action, Animation, Adventure, Crime, Science F...",2016-10-11,Batman and Robin of the 1960s live action seri...
2005,One Crazy Summer: A Look Back at Gravity Falls,2018,Brian Ward,"Matt Braly, Brad Breeck, Jackie Buscarino, Rob...",2.0,105 min,Documentary,2018-07-24,The ultimate Gravity Falls behind the scenes d...
2006,Gunfight at the O.K. Corral,1957,John Sturges,"Burt Lancaster, Kirk Douglas, Rhonda Fleming",7.0,122 min,Western,1957-05-30,Lawman Wyatt Earp and outlaw Doc Holliday form...

In [177]:
# Combine the three DataFrames into 'new_big_df'
new_big_df = pd.concat([big_df1, big_df2, big_df3], ignore_index=True)

# Reset the index of the resulting DataFrame
new_big_df.reset_index(drop=True, inplace=True)

In [178]:
new_big_df

,Title,Year,Director,Actors,Rating,Runtime,Genre,Release_Date,Plot_Summary
0,Kantara,2022,Rishab Shetty,"Rishab Shetty, Sapthami Gowda, Kishore Kumar G...",9.3,148,Action,2022-09-30 00:00:00,"When greed paves the way for betrayal, schemin..."
1,The Dark Knight,2008,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart, M...",9.0,152,Action,2008-07-18 00:00:00,When the menace known as the Joker wreaks havo...
2,The Lord of the Rings: The Return of the King,2003,Peter Jackson,"Elijah Wood, Viggo Mortensen, Ian McKellen, Or...",9.0,201,Action,2003-12-17 00:00:00,Gandalf and Aragorn lead the World of Men agai...
3,Inception,2010,Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...",8.8,148,Action,2010-07-16 00:00:00,A thief who steals corporate secrets through t...
4,The Lord of the Rings: The Two Towers,2002,Peter Jackson,"Elijah Wood, Ian McKellen, Viggo Mortensen, Or...",8.8,179,Action,2002-12-18 00:00:00,While Frodo and Sam edge closer to Mordor with...
...,...,...,...,...,...,...,...,...,...
8738,Beyond White Space,2018,Ken Locsmandi,"Holt McCallany, Zulay Henao, Dave Sheridan",4.7,93 min,"Science Fiction, Thriller",2018-12-14 00:00:00,The USS Essex is travelling in the furthest re...
8739,Havoc,2005,Barbara Kopple,"Anne Hathaway, Bijou Phillips, Shiri Appleby",5.2,85 min,"Crime, Drama",2005-10-16 00:00:00,Two affluent suburban girls clash with the Lat...
8740,Batman: Return of the Caped Crusaders,2016,Rick Morales,"Adam West, Burt Ward, Julie Newmar",6.5,78 min,"Action, Animation, Adventure, Crime, Science F...",2016-10-11 00:00:00,Batman and Robin of the 1960s live action seri...
8741,One Crazy Summer: A Look Back at Gravity Falls,2018,Brian Ward,"Matt Braly, Brad Breeck, Jackie Buscarino, Rob...",2.0,105 min,Documentary,2018-07-24 00:00:00,The ultimate Gravity Falls behind the scenes d...
8742,Gunfight at the O.K. Corral,1957,John Sturges,"Burt Lancaster, Kirk Douglas, Rhonda Fleming",7.0,122 min,Western,1957-05-30 00:00:00,Lawman Wyatt Earp and outlaw Doc Holliday form...

In [189]:
combined_all = pd.concat([new_big_df, combined_df2, new_comb], axis=0, ignore_index=True)
combined_all

,Title,Year,Director,Actors,Rating,Runtime,Genre,Release_Date,Plot_Summary
0,Kantara,2022,Rishab Shetty,"Rishab Shetty, Sapthami Gowda, Kishore Kumar G...",9.3,148,Action,2022-09-30 00:00:00,"When greed paves the way for betrayal, schemin..."
1,The Dark Knight,2008,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart, M...",9.0,152,Action,2008-07-18 00:00:00,When the menace known as the Joker wreaks havo...
2,The Lord of the Rings: The Return of the King,2003,Peter Jackson,"Elijah Wood, Viggo Mortensen, Ian McKellen, Or...",9.0,201,Action,2003-12-17 00:00:00,Gandalf and Aragorn lead the World of Men agai...
3,Inception,2010,Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...",8.8,148,Action,2010-07-16 00:00:00,A thief who steals corporate secrets through t...
4,The Lord of the Rings: The Two Towers,2002,Peter Jackson,"Elijah Wood, Ian McKellen, Viggo Mortensen, Or...",8.8,179,Action,2002-12-18 00:00:00,While Frodo and Sam edge closer to Mordor with...
...,...,...,...,...,...,...,...,...,...
20081,Disaster Movie,2008,"Directors:Jason Friedberg, Aaron Seltzer","Carmen Electra, Vanessa Lachey, Nicole Parker,...",1.9,87,Comedy,2008-08-29 00:00:00,"Over the course of one evening, an unsuspectin..."
20082,The Hottie & the Nottie,2008,Tom Putnam,"Paris Hilton, Joel David Moore, Christine Laki...",1.9,91,Comedy,2008-02-21 00:00:00,A woman agrees to go on a date with a man only...
20083,From Justin to Kelly,2003,Robert Iscove,"Kelly Clarkson, Justin Guarini, Katherine Bail...",1.9,81,Comedy,2003-06-20 00:00:00,A waitress from Texas and a college student fr...
20084,Superbabies: Baby Geniuses 2,2004,Bob Clark,"Jon Voight, Scott Baio, Vanessa Angel, Skyler ...",1.5,88,Comedy,2004-08-27 00:00:00,A group of smart-talking toddlers find themsel...
20085,Cumali Ceber: Allah Seni Alsin,2017,Gökhan Gök,"Halil Söyletmez, Doga Konakoglu, Emre Keskin, ...",1.0,100,Comedy,2017-08-04 00:00:00,Cumali Ceber goes to a vacation with his child...

In [190]:
# Remove duplicates from the combined_all DataFrame
combined_all = combined_all.drop_duplicates()

# Reset the index of the resulting DataFrame
combined_all.reset_index(drop=True, inplace=True)

In [191]:
combined_all

,Title,Year,Director,Actors,Rating,Runtime,Genre,Release_Date,Plot_Summary
0,Kantara,2022,Rishab Shetty,"Rishab Shetty, Sapthami Gowda, Kishore Kumar G...",9.3,148,Action,2022-09-30 00:00:00,"When greed paves the way for betrayal, schemin..."
1,The Dark Knight,2008,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart, M...",9.0,152,Action,2008-07-18 00:00:00,When the menace known as the Joker wreaks havo...
2,The Lord of the Rings: The Return of the King,2003,Peter Jackson,"Elijah Wood, Viggo Mortensen, Ian McKellen, Or...",9.0,201,Action,2003-12-17 00:00:00,Gandalf and Aragorn lead the World of Men agai...
3,Inception,2010,Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...",8.8,148,Action,2010-07-16 00:00:00,A thief who steals corporate secrets through t...
4,The Lord of the Rings: The Two Towers,2002,Peter Jackson,"Elijah Wood, Ian McKellen, Viggo Mortensen, Or...",8.8,179,Action,2002-12-18 00:00:00,While Frodo and Sam edge closer to Mordor with...
...,...,...,...,...,...,...,...,...,...
17274,Disaster Movie,2008,"Directors:Jason Friedberg, Aaron Seltzer","Carmen Electra, Vanessa Lachey, Nicole Parker,...",1.9,87,Comedy,2008-08-29 00:00:00,"Over the course of one evening, an unsuspectin..."
17275,The Hottie & the Nottie,2008,Tom Putnam,"Paris Hilton, Joel David Moore, Christine Laki...",1.9,91,Comedy,2008-02-21 00:00:00,A woman agrees to go on a date with a man only...
17276,From Justin to Kelly,2003,Robert Iscove,"Kelly Clarkson, Justin Guarini, Katherine Bail...",1.9,81,Comedy,2003-06-20 00:00:00,A waitress from Texas and a college student fr...
17277,Superbabies: Baby Geniuses 2,2004,Bob Clark,"Jon Voight, Scott Baio, Vanessa Angel, Skyler ...",1.5,88,Comedy,2004-08-27 00:00:00,A group of smart-talking toddlers find themsel...
17278,Cumali Ceber: Allah Seni Alsin,2017,Gökhan Gök,"Halil Söyletmez, Doga Konakoglu, Emre Keskin, ...",1.0,100,Comedy,2017-08-04 00:00:00,Cumali Ceber goes to a vacation with his child...

In [192]:
# Count the number of duplicate movie titles in the 'Title' column
duplicate_titles = combined_all[combined_all['Title'].duplicated(keep=False)]
num_duplicate_titles = len(duplicate_titles)

print(f"Number of duplicate movie titles: {num_duplicate_titles}")

Number of duplicate movie titles: 13006

In [193]:
# Remove rows with the same value in the 'Title' column
combined_all = combined_all.drop_duplicates(subset=['Title'])

# Reset the index of the resulting DataFrame
combined_all.reset_index(drop=True, inplace=True)

In [194]:
combined_all

,Title,Year,Director,Actors,Rating,Runtime,Genre,Release_Date,Plot_Summary
0,Kantara,2022,Rishab Shetty,"Rishab Shetty, Sapthami Gowda, Kishore Kumar G...",9.3,148,Action,2022-09-30 00:00:00,"When greed paves the way for betrayal, schemin..."
1,The Dark Knight,2008,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart, M...",9.0,152,Action,2008-07-18 00:00:00,When the menace known as the Joker wreaks havo...
2,The Lord of the Rings: The Return of the King,2003,Peter Jackson,"Elijah Wood, Viggo Mortensen, Ian McKellen, Or...",9.0,201,Action,2003-12-17 00:00:00,Gandalf and Aragorn lead the World of Men agai...
3,Inception,2010,Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...",8.8,148,Action,2010-07-16 00:00:00,A thief who steals corporate secrets through t...
4,The Lord of the Rings: The Two Towers,2002,Peter Jackson,"Elijah Wood, Ian McKellen, Viggo Mortensen, Or...",8.8,179,Action,2002-12-18 00:00:00,While Frodo and Sam edge closer to Mordor with...
...,...,...,...,...,...,...,...,...,...
9355,A Very Harold & Kumar 3D Christmas,2011,Todd Strauss-Schulson,"Kal Penn, John Cho, Neil Patrick Harris, Patto...",6.2,90,Adventure,NaT,NaN
9356,Astérix & Obélix contre César,1999,Claude Zidi,"Christian Clavier, Gérard Depardieu, Roberto B...",5.9,109,Adventure,NaT,NaN
9357,Astérix aux jeux olympiques,2008,"Directors:Frédéric Forestier, Thomas Langmann","Gérard Depardieu, Clovis Cornillac, Benoît Poe...",5.2,116,Adventure,NaT,NaN
9358,Celal ile Ceren,2013,Togan Gökbakar,"Sahan Gökbakar, Ezgi Mola, Dilsah Demir, Gokce...",3.0,114,Comedy,NaT,NaN
9359,Enes Batur Hayal mi Gerçek mi?,2018,Kamil Cetin,"Enes Batur, Bilal Hanci, Atakan Özyurt, Fatih ...",2.0,110,Comedy,NaT,NaN

In [196]:
#dropping rows with no dates6
combined_all = combined_all.dropna(subset=['Release_Date'])

# Reset the index of the resulting DataFrame
combined_all.reset_index(drop=True, inplace=True)

In [198]:
combined_all

,Title,Year,Director,Actors,Rating,Runtime,Genre,Release_Date,Plot_Summary
0,Kantara,2022,Rishab Shetty,"Rishab Shetty, Sapthami Gowda, Kishore Kumar G...",9.3,148,Action,2022-09-30 00:00:00,"When greed paves the way for betrayal, schemin..."
1,The Dark Knight,2008,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart, M...",9.0,152,Action,2008-07-18 00:00:00,When the menace known as the Joker wreaks havo...
2,The Lord of the Rings: The Return of the King,2003,Peter Jackson,"Elijah Wood, Viggo Mortensen, Ian McKellen, Or...",9.0,201,Action,2003-12-17 00:00:00,Gandalf and Aragorn lead the World of Men agai...
3,Inception,2010,Christopher Nolan,"Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...",8.8,148,Action,2010-07-16 00:00:00,A thief who steals corporate secrets through t...
4,The Lord of the Rings: The Two Towers,2002,Peter Jackson,"Elijah Wood, Ian McKellen, Viggo Mortensen, Or...",8.8,179,Action,2002-12-18 00:00:00,While Frodo and Sam edge closer to Mordor with...
...,...,...,...,...,...,...,...,...,...
8836,Idioterne,1998,Lars von Trier,"Bodil Jørgensen, Jens Albinus, Anne Louise Has...",6.8,117,Comedy,1998-10-12 00:00:00,NaN
8837,"To Wong Foo Thanks for Everything, Julie Newmar",1995,Beeban Kidron,"Wesley Snipes, Patrick Swayze, John Leguizamo,...",6.6,109,Comedy,1995-09-01 00:00:00,NaN
8838,Oxygène,2021,Alexandre Aja,"Mélanie Laurent, Mathieu Amalric, Malik Zidi, ...",6.5,100,Drama,2021-11-18 00:00:00,NaN
8839,Hausu,1977,Nobuhiko Ôbayashi,"Kimiko Ikegami, Miki Jinbo, Kumiko Ôba, Ai Mat...",7.3,88,Comedy,1977-02-13 00:00:00,NaN
8840,Astérix & Obélix: Mission Cléopâtre,2002,Alain Chabat,"Gérard Depardieu, Christian Clavier, Jamel Deb...",6.6,107,Adventure,2002-08-28 00:00:00,NaN